<template>
    <div id="propertyChanges">
        <input v-model="message">
        <hr>
        <p>Computed input (1): {{computedInputProccess}}</p>
        <p>Method input (1): {{methodInputProccess()}}</p>
        <hr>
        <p>Computed input (2): {{computedInputProccess}}</p>
        <p>Method input (2): {{methodInputProccess()}}</p>
        <hr>
        <p>Computed input (3): {{computedInputProccess}}</p>
        <p>Method input (3): {{methodInputProccess()}}</p>
        <hr>
        <p>Watch input: {{ messageWatch }}</p>
        <hr>
        <p>Var 1 - {{ var1 }}</p>
        <p>Var 2 - {{ var2 }}</p>
        <p>Computed get set - {{ computedGetSet }}</p>
    </div>    
</template>

<script>
import moment from 'moment';
let counterComputed = 0, counterMethod = 0;
let counterWatch = 0;

export default {
    name: 'PropertyChanges',
    data() {
        return {
            message : 'Init',
            messageWatch : '_',
            var1 : 'AA',
            var2 : 'BB',
        }
    },
    computed : {
        computedInputProccess:function() {
            counterComputed++;
            
            return this.message + ' - Exec count ( ' + counterComputed + ') - Last change on: ' + moment().format('YYYY-MM-DD HH:mm:ss (x)') ;
        },
        computedGetSet: {
            get: function() {
                return this.var1 + ' - ' + this.var2;
            },
            set: function(newValue) {
                var pads = newValue.split(' ');
                this.var1 = pads[0];
                this.var2 = pads[1];
            }
        }
    },
    methods : {
        methodInputProccess:function() {
            counterMethod++;
            
            return this.message + ' - Exec count ( ' + counterMethod + ') - Last change on: ' + moment().format('YYYY-MM-DD HH:mm:ss (x)') ;
        }
    },
    watch : {
        message:function(currentValue, olderValue) {
            counterWatch++;

            this.$log.info(counterWatch, 'Newer value ', currentValue, 'Older value ', olderValue);
            
            this.messageWatch = 'Newer value ' + currentValue + ' - Exec count ( ' + counterWatch + ') - Last change on: ' + moment().format('YYYY-MM-DD HH:mm:ss (x)') ;

            this.computedGetSet = currentValue;
        }
    }
}
</script>

<style scoped>

</style>