<template>
    <footer class="border-top footer text-muted">
        <div class="container text-center">
            <p>
                {{ companyName }} - &copy; {{ range }} - All rights reserved - v{{ version }}
            </p>
        </div>
    </footer>    
</template>
<script>
import moment from 'moment'
export default {
    name: 'Footer',
    data () {
        return {
            companyName: "",
            range: "",
            version: ""
        }
    },
    mounted () {
        this.companyName = process.env.VUE_APP_FOOTER_COMPANY_NAME;
        this.version = process.env.VUE_APP_VERSION;
        const fromYear = parseInt(process.env.VUE_APP_FOOTER_INITIAL_YEAR);
        const toYear = moment().year();
        
        if (fromYear == toYear) {
            this.range = fromYear;

        } else {
            this.range = fromYear + '-' +  toYear;

        }
    }
}

</script>
<style scoped>

</style>