<template>
    <div>
        <nav>
            <img alt="Vue logo" src="../assets/logo.png" width="5%" height="5%">
            <router-link class="spacing" :to="{name: 'home'}">Home</router-link>
            <router-link class="spacing" :to="{name: 'about'}">About</router-link>
            <router-link class="spacing" :to="{name: 'issues'}">Issues</router-link>
        </nav>
    </div>    
</template>
<script>
    export default {
        name: 'Header'
    }
</script>
<style scoped>
nav {
    background: #000;
    padding: 20px 20px 20px 20px;
}
nav a {
    padding: 10px;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    margin-right: 15px;
}
</style>