<template>
    <b-row :data-id="currentItem.id">
        <b-col cols="6">
            #{{currentItem.id}} - {{currentItem.summary}}
        </b-col>
        <b-col cols="6">
            <b-button variant="outline-danger" v-on:click="deleteIssueFromItemList">Delete</b-button>
            <b-button variant="outline-success" :to="{name: 'issue', params: {id: currentItem.id}}">Update</b-button>
        </b-col>
    </b-row>
</template>
<script>
    export default {
        name: 'IssuesList',
        props: {
            currentItem: Object
        },
        methods: {
            deleteIssueFromItemList : function (event) {
                if (event) {
                    event.preventDefault();
                }
                this.$emit('delete', this.currentItem);
            }
        }
    }
</script>
<style scoped>

</style>