<template>
    <form @submit="validateForm" action="" method="POST">
        <b-alert v-bind:show="(errors.length > 0)" variant="danger" dismissible>
            <strong>Errors:</strong>
            <ul>
                <li v-for="(error, index) in errors" :key="index">{{error}}</li>
            </ul>
        </b-alert>
        <p v-if="!isAddScreen">
            <label>Id Issue:</label>
            <label>{{issueId}}</label>
        </p>
        <p>
            <label for="type">Type:</label>
            <select id="type" name="type" v-model="form.type">
                <option v-for="type in types" :key="type.value" v-bind:value="type.value">{{type.label}}</option>
            </select>
        </p>
        <p>
            <label for="summary">Summary: </label>
            <input id="summary" name="summary" type="text" placeholder="Inserimento summary.." v-model="form.summary"/>
        </p>
        <p>
            <label for="description">Description: </label>
            <textarea id="description" name="description" v-model="form.description" placeholder="Inserimento della descrizione" rows="12"></textarea>
        </p>
        <p>
            <label for="assignee">Assignee: </label>
            <input id="assignee" name="assignee" type="text" v-model="form.assignee" placeholder="prova@example.com"/>
        </p>
        <p>
            <label for="priority">Priorities:</label>
            <select id="priority" name="priority" v-model="form.priority">
                <option v-for="priority in priorities" :key="priority.value" v-bind:value="priority.value">{{priority.label}}</option>
            </select>
        </p>
        <p v-if="!isAddScreen">
            <label for="createdOn">Created On: </label>
            <label>{{formatDate(form.createdOn)}}</label>
        </p>
        <p v-if="!isAddScreen">
            <label for="updatedOn">Updated On: </label>
            <label>{{formatDate(form.updatedOn)}}</label>
        </p>
        
        <input type="submit" :value="(isAddScreen ? 'Add' : 'Update')"/>
    </form>
</template>
<script>
import { AppStateMutations } from '../state.js'
import _ from 'lodash';
import moment from 'moment';
import {isNullOrWhiteSpace, isValidEmail} from '../lib/common.js'

export default {
    name: 'Issue',
    props: {
        issueId: Number
    },
    data() {
        return {
            types: AppStateMutations.getIssuesTypes(),
            priorities: AppStateMutations.getIssuesPriorities(),
            errors: [],
            isAddScreen: false,
            form: {
                type: null,
                summary: null,
                description: null,
                assignee: null,
                priority: null,
                createdOn: null,
                updatedOn: null
            }
        }
    },
    mounted() {
        let issue = AppStateMutations.getIssueClone(this.issueId);
        if (issue == null) {
            this.$log.info('add - Empty');
            this.isAddScreen = true;
        } else {
            this.$log.info('update');
            this.isAddScreen = false;
            this.form.type = _.cloneDeep(issue.typeId);
            this.form.summary = _.cloneDeep(issue.summary);
            this.form.description = _.cloneDeep(issue.description);
            this.form.assignee = _.cloneDeep(issue.assignee);
            this.form.priority = _.cloneDeep(issue.priorityId);
            this.form.createdOn = _.cloneDeep(issue.createdOn);
            this.form.updatedOn = _.cloneDeep(issue.updatedOn);
        }
        
    },
    methods: {
        validateForm: function(event){
            if (event) {
                event.preventDefault();
            }
            let valid = true;
            this.errors = [];

            if (this.form.type == null) {
                this.errors.push("type - required");
                valid = false;
            }
            if (isNullOrWhiteSpace(this.form.summary)) {
                this.errors.push("summary - required");
                valid = false;
            }
            if (isNullOrWhiteSpace(this.form.description)) {
                this.errors.push("description - required");
                valid = false;
            }
            if (isNullOrWhiteSpace(this.form.assignee)) {
                this.errors.push("assignee - required");
                valid = false;
            } else {
                if (!isValidEmail(this.form.assignee)) {
                    this.errors.push("assignee - invalid email");
                    valid = false;
                }
            }
            if (this.form.priority == null) {
                this.errors.push("priority - required");
                valid = false;
            }

            if (valid) {
                if (this.issueId < 0) {
                    AppStateMutations.addIssue(this.form.type, this.form.summary, this.form.description, this.form.assignee, this.form.priority);
                } else {
                    AppStateMutations.updateIssue(this.issueId, this.form.type, this.form.summary, this.form.description, this.form.assignee, this.form.priority);
                }
                this.$router.push({name: 'issues'});
            } else {
                this.$log.error('no valid form', this.errors);
            }
        
            return valid;

        },
        formatDate: function(dateInMilliSeconds) {
            return moment(dateInMilliSeconds).format('YYYY-MM-DD HH:mm:ss');
        }
    }
}
</script>
<style scoped>

</style>