<template>
    <div>
        <h3>{{title}}</h3>
        <b-container>
            <b-row>
                <b-col cols="6">
                    
                </b-col>
                <b-col cols="6">
                    <b-button variant="outline-success" :to="{name: 'issue', params: {id: -1}}">Add</b-button>
                </b-col>
            </b-row>
            <IssueItem v-for="issue in issues" :key="issue.id" :currentItem="issue" @delete="deleteIssueFromList"></IssueItem>
            <b-row>
                <b-col cols="6">
                    Total
                </b-col>
                <b-col cols="6">
                    {{total}}
                </b-col>
            </b-row>
        </b-container>
    </div>    
</template>
<script>
    import IssueItem from './IssueItem.vue';
    import {AppStateMutations} from '../state.js';

    export default {
        name: 'IssuesList',
        props: {
            title: String
        },
        components: {
            IssueItem
        },
        computed: {
            total: function () {
                return AppStateMutations.countIssues();
            },
            issues: function () {
                return AppStateMutations.getIssues();
            }
        },
        methods: {
            deleteIssueFromList : function (issue) {
                AppStateMutations.deleteIssue(issue.id); 
            }   
        }
    };
</script>
<style scoped>

</style>