<template>
    <b-navbar toggleable="lg" type="dark" :variant="(isProduction ? 'dark' : 'danger')">
        <b-navbar-brand :to="{name:'home'}">
            <img src="../assets/logo.png" width="30" height="30" alt="">
            <span>{{ applicationName }}</span>
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
            <b-nav-item :to="{name:'home'}">Home</b-nav-item>
            <b-nav-item :to="{name:'issues'}">Issues</b-nav-item>
            <b-nav-item :to="{name:'about'}">About</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
            <b-nav-form>
                <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
            </b-nav-form>

            <b-nav-item-dropdown text="Lang" menu-class="minw-none" right>
            <b-dropdown-item href="#">EN</b-dropdown-item>
            <b-dropdown-item href="#">ES</b-dropdown-item>
            <b-dropdown-item href="#">RU</b-dropdown-item>
            <b-dropdown-item href="#">FA</b-dropdown-item>
            </b-nav-item-dropdown>

            <b-nav-item-dropdown menu-class="minw-none" right>
                <!-- Using 'button-content' slot -->
                <template #button-content>
                    <em>User</em>
                </template>
                <b-dropdown-item href="#">Profile</b-dropdown-item>
                <b-dropdown-item href="#">Sign Out</b-dropdown-item>
            </b-nav-item-dropdown>
        </b-navbar-nav>
        </b-collapse>
    </b-navbar>
</template>
<script>
    export default {
        name: 'Header',
        data () {
            return {
                applicationName: "",
                isProduction: false
            }
        },
        mounted () {
            this.applicationName = process.env.VUE_APP_HEADER_APP_NAME;
            const state = process.env.NODE_ENV;

            if (state == 'production') {
                this.isProduction = true;
                    
            } else {
                this.isProduction = false;
                this.applicationName += " - (" + state + ")";
            }
        }
    }
</script>
<style>
    .minw-none {
        min-width: 0 !important;
    };
</style>