<template>
    <div>
        <h3>{{title}}</h3>
        <b-container>
            <b-row>
                <b-col cols="6">
                    <b-button variant="outline-danger" v-on:click="readFromApi">Get from API</b-button>
                </b-col>
                <b-col cols="6">
                    <b-button variant="outline-success" :to="{name: 'issue', params: {id: -1}}">Add</b-button>
                </b-col>
            </b-row>
            <IssueItem v-for="issue in issues" :key="issue.id" :currentItem="issue" @delete="deleteIssueFromApiList"></IssueItem>
            <b-row>
                <b-col cols="6">
                    Total
                </b-col>
                <b-col cols="6">
                    {{total}}
                </b-col>
            </b-row>
        </b-container>
    </div>    
</template>
<script>
    import IssueItem from './IssueItem.vue';
    import {AppStateMutations} from '../state.js';

    export default {
        name: 'IssuesList',
        props: {
            title: String
        },
        components: {
            IssueItem
        },
        computed: {
            total: function () {
                return AppStateMutations.countIssues();
            },
            issues: function () {
                return AppStateMutations.getIssues();
            }
        },
        methods: {
            deleteIssueFromApiList : function (issue) {
                const urlApi = process.env.VUE_APP_API_ENDPOINT + '/issues/' + issue.id;
                fetch(urlApi, {
                    method: 'DELETE',
                    headers: {
                        'Accept' : 'application/json',
                        'Content-type' : 'application/json'
                    }
                }).
                then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        this.$log.error('Error during connection w/ Issue.json', response);
                    }
                }).
                then(response => {
                    this.$log.info('Not errors', response);
                    AppStateMutations.deleteIssue(issue.id);
                }).
                catch(error => {
                    this.$log.error('Catchin\' of an error', error);
                });

            },
            readFromApi : function (event) {
                if (event) {
                    event.preventDefault();
                }
                const urlApi = process.env.VUE_APP_API_ENDPOINT + '/issues';
                AppStateMutations.clearIssues();

                fetch(urlApi, {
                    method: 'GET',
                    headers: {
                        'Accept' : 'application/json',
                        'Content-type' : 'application/json'
                    }
                }).
                then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        this.$log.error('Error during connection w/ Issue.json', response);
                    }
                }).
                then(response => {
                    AppStateMutations.addIssues(response);
                }).
                catch (error => {
                    this.$log.error('Catchin\' of an error', error);
                });
            }
        }
    };
</script>
<style scoped>

</style>