<template>
    <div id="itemList">
        <ul>
            <Item v-for="listItem in currentList" :key="listItem.id" v-bind:currentItem="listItem" @delete="deleteItemList"></Item>
        </ul>
        <hr />
        <input v-model="addItemText" />
        <button v-on:click="addItem">Add</button>
    </div>
</template>

<script>
import Item from './Item.vue'

export default {
    name: 'ItemList',
    components: {
        Item
    },
    data() {
        return {
            currentList: 
            [
                {
                    id: 0,
                    text: '0 Lorem ipsum dolorem.....'
                },
                {
                    id: 1,
                    text: '1 Lorem ipsum dolorem.....'
                },
                {
                    id: 2,
                    text: '2 Lorem ipsum dolorem.....'
                },
                {
                    id: 3,
                    text: '3 Lorem ipsum dolorem.....'
                },
                {
                    id: 4,
                    text: '4 Lorem ipsum dolorem.....'
                }
            ],
            addItemText: ''
        }
    },
    methods: {
        deleteItemList: function(Item){
            this.currentList = this.currentList.filter((x)=>{
                return x != Item;
            });
        },
        addItem: function(event) {
            if (event) {
                event.preventDefault();
            }

            let maxId = this.currentList.length;

            if (maxId > 0) {
                maxId = Math.max.apply(null, this.currentList.map(function(item) {
                    return item.id;
                }));
            }

            this.currentList.push({id: maxId+1, text: this.addItemText});
        }
    }
}
</script>

<style scoped>

</style>