<template>
    <li class="item" :data-id="currentItem.id" :data-text="currentItem.text">
        {{ currentItem.id }} - {{ currentItem.text }}
        <br />
        <input :id="('update-' + currentItem.id)" :value="currentItem.text">
        <button v-on:click="updateItem">Update</button>
        <button v-on:click="deleteItem">Delete</button>
    </li>
</template>

<script>
export default {
    name: 'Item',
    props: {
        currentItem: Object 
    },
    methods: {
        updateItem: function(event) {
            if (event) {
                event.preventDefault();
            }
            const inputText = document.querySelector('input[id=update-' + this.currentItem.id + ']').value;
            this.currentItem.text = inputText;
            this.$emit('input', this.currentItem);
        },
        deleteItem: function(event) {
            if (event) {
                event.preventDefault();
            }
            this.$emit('delete', this.currentItem);
        }
    }
}
</script>

<style scoped>

</style>