<template>
    <div id="Form">
        <h1> {{ title }} </h1>
        <hr>
        <h3> {{ msg }} </h3>
        <hr>
        <span v-bind:title="tooltip">Tooltip</span>
        <hr>
        <button v-on:click="switchMessage=!switchMessage">Switch</button>
        <span v-if="switchMessage">Switch flag: true (value: {{ switchMessage }})</span>
        <span v-if="!switchMessage">Switch flag: false (value: {{ switchMessage }})</span>
        <hr>
        <button v-on:click="complexSwitch">Switch Complex</button>
        <hr>
        <button v-on:click="sendAlert('AAA')">Alert1</button>
        <button v-on:click="sendAlert('BBB')">Alert2</button>
        <hr>
        <button v-on:click="sendAlertWithPrevent('Preventing', $event)">Preventing submit</button>
        <hr>
        <ul>
            <li v-for="(value, name, index) in simpleObject" :key='index'>
                {{ index }} - {{ name }}: {{ value }}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="item in objectsArray" :key='item.id'>
                <div v-bind:class="('item-' + item.id)">
                    <span>{{ item.id }} - </span>
                    <span><strong>{{ item.text }}</strong></span>
                </div>
            </li>
        </ul>
        <hr>
        <button v-on:click="reverseList()">Reverse List</button>
        <hr>
        <input v-model="inputMsg" />
        <p>{{ inputMsg }}</p>
    </div>
</template>

<script>
export default {
    name: 'Form',
    props: {
        title: String
    },
    data() {
        return {
            msg : 'Init',
            tooltip : '',
            switchMessage : false,
            inputMsg : 'Test',
            simpleObject : {
                Key1 : '1',
                Key2 : 'Ciao',
                Key3 : [4, 5, 6]
            },
            objectsArray : [
                {
                    id: 1, 
                    text: 'item 1'
                },
                {
                    id: 2, 
                    text: 'item 2'
                },
                {
                    id: 3, 
                    text: 'item 3'
                }
            ],

        }
    },
    mounted() {
        let mpstring = 'Message override';

        this.$log.debug('oldstate:', this.msg, 'newstate:', mpstring);
        this.msg = mpstring;
        this.tooltip = "Dynamic tooltip " + new Date().toLocaleString();
        
    },
    methods: {
        complexSwitch:function(event) {
            const oldValue = this.switchMessage;
            this.switchMessage = !this.switchMessage;
            const switchString = 'from value ' + this.switchMessage + ' to value ' + oldValue;
            alert(switchString);

            if (event) {
                this.$log.info(event.target.tagName);
            }
        },
        sendAlert:function(msg) {
            alert(msg);
        },
        sendAlertWithPrevent:function(msg, event) {
            if (event) {
                event.preventDefault();
            }
            alert(msg);
        },
        reverseList:function(){
            this.objectsArray.reverse();
        }
    }
}
</script>

<style scoped>
    strong {
        font-weight: 800;    
    }
</style>