<template>
    <div id="list">
        <h1>{{ title }}</h1>
        <ul>
            <li :data-id="id">Prova alpha</li>
            <li :data-id="id">Prova beta</li>
        </ul>
        <p>{{ counter }}</p>
    </div>
</template>

<script>
    export default {
        name : 'List',
        props : {
            title : String,
            counter: String,
            id: String
        }
    }
</script>

<style scoped>

</style>