<template>
    <div>
        <h1>Home Page</h1>
        <!-- Default -->
        <router-link :to="{name: 'data', params: {id: 1234}}"> 
            <button class="btn btn-lg">Link 1234</button>
        </router-link>
        <!-- End Default -->
        
        <!-- Default -->
        <b-button :to="{name: 'data', params: {id: 4321}}" :variant="('danger')">Link 4321</b-button>
        <!-- End Default -->
    </div>    
</template>
<script>
    export default {
        name: 'HomePage'
    }
</script>
<style scoped>

</style>