<template>
    <div>
        <h1>Issue</h1>
        <b-button variant="outline-danger" :to="{name: 'issues'}" >Indietro</b-button>
        <Issue :issueId="id"/>
    </div>    
</template>
<script>
import Issue from '../components/Issue.vue';

export default {
    name: 'IssuePage',
    components: {
        Issue
    },
    data() {
        return {
            id: this.$route.params.id
        }
    }
};
</script>
<style scoped>

</style>