<template>
    <div>
        <h1>Issues</h1>
        <IssuesList title="All issues"></IssuesList>
    </div>    
</template>
<script>
import IssuesList from '../components/IssuesList.vue';

export default {
    name: 'IssuesPage',
    components: {
        IssuesList
    }
};
</script>
<style scoped>

</style>