<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <Form title="Form dati" />
    <HelloWorld msg="Welcome to Your Vue.js App" />
    <List title="Titolo lista 2" counter=10 id=1 />
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import List from './components/List.vue'
import Form from './components/Form.vue'

export default {
  name: 'App',
  components: {
    HelloWorld,
    List,
    Form
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
