<template>
    <div>
        <h1>Data</h1>
        <p>Id: {{id}}</p>
    </div>
</template>
<script>
export default {
    name: 'DataPage',
    data() {
        return {
            id: this.$route.params.id
        }
    }
}
</script>
<style scoped>

</style>